{%extends 'base.html'%}
{%block title%} About Us {%endblock title%}

{%block body%}

      
  <div class="container-fluid"><p class="fw-bold"></p>
        <p class="fw-bolder">A Letter From The Founder.</p>
        <p class="fw-normal">A place for you to fulfil your vanderlust and to complete your albums. We have created Travellers because we understand the joy of collecting all the pieces of the world and ourselves though travelling. So as to make all your travels worth a moment.</p>
        
          
    
</div></div>

  
{%endblock body%}
