{%extends 'base.html'%}
{%block title%} About {%endblock title%}

{%block body%}
<div class="container-fluid px-0"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
  <img src="/static/images/pyramid3.jfif" class="d-block w-100" alt="...">
  

  
  </div>

  

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">The Nature Speaks <span class="text-muted"></span></h2>
        <p class="lead">South Africa, where you are close to nature, where we have always been inspired by the untouched wild. With world-renowned nature reserves and preservation areas in every province, there’s no shortage of places to explore. Come and experience our Big 5 and other wildlife and safari game drives.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/parrots.4jfif" class="d-block w-100" alt="...">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">The History<span class="text-muted"></span></h2>
        <p class="lead"> There are many tribes, ethnic groups and communities in Africa. Some communities have a large population of about millions of people, while some ethnic tribes number a few hundred. Each tribe follows its own culture and tradition. The Afar are tribal people that live in Ethiopian desert lands. They follow their own culture, and are nomads, living solely on their livestock. When you move to the central highland plateau in Ethiopia, you will meet the Amharapeople.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/tribes.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Unexplained<span class="text-muted"></span></h2>
        <p class="lead">The planning of the pyramid’s construction is still a mystery. It was built from more than two millions of stone blocks, each weighing approximately two to 15 tons. It was 481 feet tall when it was first constructed, but erosion removed the top piece, so today, it is around 455 feet tall. </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/pyramid3.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->













  </div>
  
  
</div></div>
{%endblock body%}
