{%extends 'base.html'%}
{%block title%} About {%endblock title%}

{%block body%}
<div class="container-fluid px-0"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
  <img src="/static/images/a.jfif" class="d-block w-100" alt="...">
  

  
  </div>

  <hr class="featurette-divider px-2">

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Mount Erebus <span class="text-muted"></span></h2>
        <p class="lead"> Mount Erebus is an active volcano, the second-highest in Antarctica and the southernmost active volcano on Earth. It is the sixth-highest ultra mountain on the continent. With a summit elevation of 3,794 metres, it is located in the Ross Dependency on Ross Island, which is also home to three inactive volcanoes: Mount Terror, Mount Bird, and Mount Terra Nova.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/antar.jfif" class="d-block w-100" alt="...">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Seals of Antarctica<span class="text-muted"></span></h2>
        <p class="lead">Seals of Antarctica The seals that populate the southern ocean flourish in the nutrient rich waters of the poles. With diets that range from krill and small fish to even penguins and other seal pups, they are expert divers and can be seen lounging or breeding on the ice when they are not immersed deep beneath the pack ice hunting for food.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/sels.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->













  </div>
  
  
</div></div>

{%endblock body%}
