{%extends 'base.html'%}
{%block title%} Contact {%endblock title%}

{%block body%}
  <div class="container-fluid px-0"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
    <img src="/static/images/japan.jfif" class="d-block w-100" alt="...">
    

    
    </div>
  
    <hr class="featurette-divider px-2">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">To Get Astonished <span class="text-muted"></span></h2>
        <p class="lead">The Moscow Kremlin is the most famous of all Russia's kremlins (citadels) and comprises no less than four cathedrals and four palaces - the Bol'shoi Kremlevskii Dvorets (Great Kremlin Palace), the Granovitaya Palata (Faceted Palace), the Poteshnyi Dvorets (Poteshnyi Palace) and the Patriarch's Palace (Patriarshii Dvorets)...</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/moscow.jfif" class="d-block w-100" alt="...">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">To Pay Homage<span class="text-muted"></span></h2>
        <p class="lead">Temples symbolize the long history and rich culture of China, and are regarded as valuable art treasures. There are many different religions in China, such as the Buddhism, Christianity and Islam introduced from other regions, as well as Taoism and Confucianism, the native-born religions. Of course, temples or houses of worship of different religions differ. Buddhist temples include a temple, pagoda and grotto, which are called Si, Ta, and Shiku in Chinese respectively. Taoist architecture is variously called Gong, Guan or An in Chinese.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/china3.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">To Shop <span class="text-muted"></span></h2>
        <p class="lead">“Whoever said that money can’t buy happiness simply didn’t know where to go shopping.”

          — Bo Derek</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/asia2.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->













  </div>
     

{%endblock body%}