{%extends 'base.html'%}
{%block title%} About {%endblock title%}

{%block body%}
<div class="container-fluid px-0"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
  <img src="/static/images/europe.jfif" class="d-block w-100" alt="...">
  

  
  </div>

  <hr class="featurette-divider px-2">

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Paris <span class="text-muted"></span></h2>
        <p class="lead"> TThe Louvre , or the Louvre Museum (French: Musée du Louvre [myze dy luvʁ] (listen)), is the world's largest art museum and a historic monument in Paris, France. A central landmark of the city, it is located on the Right Bank of the Seine in the city's 1st arrondissement (district or ward). Approximately 38,000 objects from prehistory to the 21st century are exhibited over an area of 72,735 square meters (782,910 square feet). In 2019, the Louvre received 9.6 million visitors, making it the most visited museum in the world.</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/francemuseum.jfif" class="d-block w-100" alt="...">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">London<span class="text-muted"></span></h2>
        <p class="lead">“A person who is tired of London is not necessarily tired of life; it might be that he just can’t find a parking place.”</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/london.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Venice<span class="text-muted"></span></h2>
        <p class="lead"> Venice is a city in Italy, best known today for the many waterways which criss-cross through it. It has developed a romantic reputation built upon by countless movies, and thanks to one startling horror film has also evolved a darker atmosphere. </p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/venice.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->













  </div>
  
  
</div></div>
{%endblock body%}
