{%extends 'base.html'%}
{%block title%} About {%endblock title%}

{%block body%}
<div class="container-fluid px-0"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
  <img src="/static/images/southam.jfif" class="d-block w-100" alt="...">
  

  
  </div>

  

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Argentina<span class="text-muted"></span></h2>
        <p class="lead">That's what they do in Argentina. Have a little wine and talk. Then have some coffee and talk. Then, go back to the wine.
          -- Grace Jones</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/argentina.jfif" class="d-block w-100" alt="...">


      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Rio De Janeiro<span class="text-muted"></span></h2>
        <p class="lead">Rio de Janeiro , or simply Rio, is anchor to the Rio de Janeiro metropolitan area and the second-most populous municipality in Brazil and the sixth-most populous in the Americas. Rio de Janeiro is the capital of the state of Rio de Janeiro, Brazil's third-most populous state, after São Paulo and Minas Gerais.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/static/images/rio.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Machu Picchu <span class="text-muted"></span></h2>
        <p class="lead">Machu Picchu, also spelled Machupijchu, site of ancient Inca ruins located about 50 miles (80 km) northwest of Cuzco, Peru, in the Cordillera de Vilcabamba of the Andes Mountains. It is perched above the Urubamba River valley in a narrow saddle between two sharp peaks—Machu Picchu (“Old Peak”) and Huayna Picchu (“New Peak”)—at an elevation of 7,710 feet (2,350 metres).</p>
      </div>
      <div class="col-md-5">
        <img src="/static/images/Macchupicchu.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->













  </div>
  
  
</div></div>
{%endblock body%}
